@keyframes wiggle {

  0% {
    transform: rotateY(0deg);
    /* border-right: 2px solid black;
    border-left: 15px solid black; */
  }


  20% {
    transform: rotateY(30deg);
    border-right: 10px solid black;
    border-left: 0px solid black;
  }

  70% {
    transform: rotateY(-30deg);
    border-right: 0px solid black;
    border-left: 10px solid black;
  }

  100% {
    transform: rotateY(0deg);
    /* border-right: 2px solid black;
      border-left: 15px solid black; */
  }

}

.hover-wiggle:hover {
  transition: all 1s;
  animation: wiggle 1s ease-in-out infinite;
  transform-style: preserve-3d;
}


.card:hover {
  perspective: 100px;
  animation: wiggle 5s infinite;
}


.side-categories {
  div {
    div:hover {
      cursor: pointer;
      background-color: var(--color-main);
      transition: all 0.5s;
      /* color: white; */
      /* margin: 0px 30px; */
      /* transform: translateX(10px); */
      /* width: 120%; */
    }
  }

}

* {
  /* font-family: "Oswald", sans-serif; */
}